---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

pre,
code {
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
}

.post-content {
    font-size: 10px; /* Adjust this value as needed */
    line-height: 1.6;
}
  
.post-content pre {
    font-size: 10px; /* Makes code blocks slightly smaller */
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: pre; /* Ensures code stays in one line */
}